.timeline-container{
 
    width:80%;
    min-width:320px;
    margin:0 auto;
     display: flex;
    flex-direction: column;
     justify-content: center;
 



    .your-timeline-card{
        display: flex;
        flex-direction: column;
        margin-top:1.2rem;
        border:2px solid red;
        
        .header{
            display: flex;
            justify-content: flex-start;

            span{
                font-size:22px;
                font-weight:700;
                line-height: 27.5px;


            }
        }   
        
        .carousel{
            display: flex;
            gap:0.5rem;
            align-items: center;
            padding:1rem;
            width:95%;
            overflow:scroll;
            
        }

            
    }


   

    .create-post-card{
        width:98.9%;
        background-color: white;
        padding:4px;
        border-radius:2px;
        padding:1rem;
    
        .profile-user-name-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:4px;
            background-color: rgb(255, 255, 255);
            box-shadow: 5px 5px 5px white;
            padding:1rem;
            .names{
                display: inherit;
                align-items: center;
                // flex-direction: column;

                .user-name{
                    span:nth-child(1){
                        color:black;
                    }
                    span:nth-child(2){
                        color:gray;
                        font-size:14px;
                    }
                    


                }
                
            }
        }
    
        .post-input{
            margin:2px;
            width:49.5rem;
            height:4rem;
            padding:0.4rem;
            // border:2px solid red;
            background-color: #aacef030;
            display: flex;
            align-items: center;
            gap:2px;
    
            img{
                 width:40px;
                 height:40px;
                 outline:gray;
            }
    
            input{
                
                height:2.8rem;
                padding:4px;
                border:2px solid rgb(236, 234, 234);
                border-radius:1rem;
                outline: none;
                border:none;
                
                
                
            }
        }
        
        .actions{
             display: flex;
            .live-video{
                display: flex;
                align-items: center;
                padding:10px;
                gap:12px;
            }
            img{
                width:20px;
             }
             span{
               font-weight:bolder;
               color:gray;
             }
    
    
    
    
        }
    
    
    
    }


    @media(max-width:767px){
        flex-wrap:wrap;
        width:100vw;
        border:2px solid red;
        justify-content: center;

        
    .your-timeline-card{
        display: flex;
        flex-direction: column;
        margin-top:1.2rem;
        border:2px solid red;
        
        .header{
            display: flex;
            justify-content: flex-start;

            
        }   
        
        .carousel{
            display: flex;
            gap:0.5rem;
            flex-shrink:1;
            // flex-wrap: wrap;
        
            align-items: center;
            padding:0.8rem;
            max-width:97vw;
            overflow:scroll;
            
        }

            
    }
    }
}