.header-wrapper{
    display: flex;
    border:3px solid red;
    // background-color: red;
    width:99.9vw;
    min-width: 320px;
    justify-content: space-evenly;
    align-items: center;
    // border-bottom: 2px solid rgb(219, 218, 218);
    
    // gap:100px;
    padding: 0.2rem 0;

    .logo-img{
        .menu-name-icon{
            display:none;
            width:100%;
            
        }
    }
    

    .search-wrapper{
        display:flex;
        flex:0.3;
        align-items: center;
        justify-content: center;
        // background-color: ;
        // border:2px solid red;
        img{
            width:20px;
            height:20px;
        }

        input{
            outline:none;
            // border:none;
            width:300px;
            padding:8px;
            border-radius: 12px;
        }
    }

    .header-actions{
        display: flex;
        flex:0.5;
        // border:2px solid red;
        // margin-left:50px;
        justify-content: flex-end;
        // margin-right:-50%;
        
        .actions{
            width:90%;
            // border:2px solid blue;
            display: flex;
            justify-content: flex-end;
            
        }
        img{
            width:30px;
            height:30px;
            margin:0.7rem;
        }
    }


    @media (max-width:767px) {

        
            border:2px solid blue;
            // background-color: blue;
            justify-content: space-between;
            gap:20px;
            
        
        .logo-img{
            display: flex;
            width:100%;
            .menu-name-icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border:2px solid red;
                flex:1;
                .menu-name{
                    display: flex;
                    align-items: center;
                    margin-left:0.5rem;
                }
            }
        }


        .search-wrapper{
            display: none;
        }
        .header-actions{
            display:none;
        }
        
        
        
    }




}

