.shortcut-container{
    width:14vw;
    display:flex;
    flex-direction:column;
    margin-top:2rem;
    justify-content: center;
    align-items: center;
    // border:2px solid red;

    .section-title{
        display:flex;
        align-items: center;
        gap:90px;
        justify-content: space-between;
        // width:99%
        span.your-pages{
            font-weight:700;
            color:black;
        }
    }
    .shortcut-item{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap:0.3125rem;
        margin-top:1.25rem;

        img{
            width:1.375rem;
            height:1.375rem;
        }
    }

    @media (max-width:767px){
        margin-left:1rem;
    }

    

    
 }