.shortcut-container{
    width:14vw;
    display:flex;
    flex-direction:column;
    margin-top:2rem;
    justify-content: center;
    align-items: center;
    border:2px solid red;

    .section-title{
        display:flex;
        align-items: center;
        gap:90px;
        justify-content: space-betw;
        // width:99%
    }
    .shortcut-item{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap:5px;
        margin-top:20px;

        img{
            width:22px;
            height:22px;
        }
    }

    
 }