.photo-container{
    width:99%;
    border-right:2px solid rgb(243, 243, 243);
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
    padding:1rem;
    justify-content: center;
    // align-items: center;
    
    .page-title{
        font-weight:700;
        font-size:1.25rem;
    }
    .section-selectors{
        display:flex;
        gap:20px;
        span{
            color:#c5c6c7;
            padding:12px;
        }
        span:hover{
            color:blue;
            border-bottom:2px solid blue;
            font-weight:700;
        }
        span:active{
            color:blue;
            border-bottom:2px solid blue;
        }
        span:nth-child(1){
            color:blue;
            border-bottom:2px solid blue;
            font-weight:700;
        }

    }
    
    .total-photos{
        font-weight: 700;
    }
    .photos-wrapper{
        display: flex;
        gap:1rem;
        width:100%;
        flex-wrap: wrap;
        padding:1rem;
        

        img{
            width:160px;
            height:160px;
        }
    }

    @media (max-width:1024px){

        .section-selectors{
            display:flex;
            gap:1rem;
            span{
                color:#c5c6c7;
                padding:12px;
                font-size:0.8rem;
            }
            span:hover{
                color:blue;
                border-bottom:2px solid blue;
                font-weight:700;
            }
            span:active{
                color:blue;
                border-bottom:2px solid blue;
            }
            span:nth-child(1){
                color:blue;
                border-bottom:2px solid blue;
                font-weight:700;
            }
    
        }


        .photos-wrapper{
            align-items: center;
             gap:1.2rem;
            
            
    
            img{
                width:15.25rem;
                height:15.25rem
            }
        }


    
    }


    @media(min-width: 320px )and (max-width:767px){
        .photos-wrapper{
            
            
    
            img{
                width:6.875rem;
                height:6.875rem;
            }
        }
    }
  
            

 }