.videos-container{
 width:99%;
border-right:2px solid rgb(243, 243, 243);
background-color: #F8FAFC;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap:20px;
padding:0.5rem;
min-width:320px;
justify-content: center;


    .title-bar{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            font-weight:700;
            font-size:1.6rem;
        }

        .search-icon-wrapper{
            // border:2px solid black;
            border-radius:50%;
            width:40px;
            height:40px;
            display: flex;
            justify-content: center;
            align-items:center;


           .search-video-input{
                display: none;
            }
        }
    }

    .categories{
        width:70%;
        display: flex;
        align-items: center;
        justify-content: space-between; 

        
       span{
            color:#c5c6c7;
            padding:12px;

            color:blue;
        }
        span:hover{
            color:blue;
            border-bottom:2px solid blue;
            font-weight:700;
        }
        
    }

    .video-slider{
        display: flex;
        // border:2px solid red;
        max-width:90%;
        // flex-wrap: wrap;
        overflow:scroll;
        gap:20px;
        background-color: white;
        

        
         .video-card{
            width:40%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            background-color: #ecf3fa;
            // align-items: center;
            // border:2px solid red;
            box-shadow: 2px 2x 2px 2px rgb(68, 67, 67);
            border-radius:1.5rem;


            padding:10px;
            .video{
                width:90%
                img{
                    width:100%;
                }
            }
            .music{
                span{
                    font-weight: 700;
                    font-size:0.875rem;
                }
            }
            .see-all{
                font-weight: 700;
                color:blue;
                background-color: white;
                padding:1em;
                text-align: center;
                border:2px solid white;
                width:90%;
                border-radius:2rem;

            }
         }
    }
     
    .videos-container{
        width:90%;
        // background-color:red;
        margin-left:1%;


        .video-wrapper{
            display: flex;
            flex-direction: column;
            width:100%;
            // border:2px solid blue;
              
            .photo-video-description{
                width: 100%;
                // border:2px solid yellow;
                .photo-div{
                    display:flex;
                    width: 100%;
                    align-items: center;
                    gap:20px;
                    // border:2px solid red;
    
                    img{
                        width:45px;
                        height:45px;
                    }
    
                    .username{
                        display: flex;
                        flex-direction: column;
    
                        span:nth-child(1){
                            font-weight:700;
    
                            
                        }
                        span:nth-child(2){
                            font-size:12px;
    
                            
                        }
                    }
                    
                }
                .video-description{
                    display: flex;
                    flex-direction: column;
                    width:100%;
    
                    img{
                        width:97%;
                        
    
                    }
                }
            }
           


        }
    }



    @media (max-width:1024px) {
        width:100%;
        align-items: center;
        // margin: 0 auto;
        // border:2px solid blue;

      .video-slider{
        flex-direction: column;
        height:20rem;
        align-items: center;
        overflow-y:scroll;
        flex-wrap: nowrap;
        width:100%;
        
        // border:2px solid red;

        .video-card{
            width:90%;

            .video{
                width:100%;
                img{
                    width:100%;
                }
            }
           
        }
      }


      .title-bar{
        flex-wrap: wrap;
        // background-color: red;
        flex-direction: column;
        .h3{
            // width:30%;
            width:100%;
            flex:1;
            text-align: center;
            // color:blue;
            // border:2px solid black;
        }
        .search-icon-wrapper{
            // border:2px solid blue;
            // display: none;
            border-radius:none;
            align-items: center;
            // flex-wrap: wrap;
            flex:1;
            width:95%;
            
            .search-icon{
                display: none;
                border: none;
            }
            .search-video-input{
                 
                 display: block;
                 width:100%;
                 padding:6px;
                 outline:none;
                 border:none;
                 border:2px solid rgb(240, 237, 237);
    
            }
        
        }
      }


      .videos-container{
        width:99%;
        
      }
     
    }

  



}