.profile-details-div{
    color:white;
    width:50%;
    // background-color: yellow;
    border: 2px solid red;
    // width:100%;
    // height: 47rem;
    position: absolute;
    top:40%;
    left: 40%;
    z-index: 2;
}