.main-container{
    width:100vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    // background-color:red;




    @media(max-width:767px){
        flex-shrink: 1;
        
    }
}