.side-container{
    width:14vw;
    /* background-color: blue;   */
    min-height: 100vh;
    // border:2px solid black ;
    display:flex;
    flex-direction:column;
    align-items: center;
    display:block;
    border-right:1px solid rgb(228, 228, 228)
    
}

.dp-username{
    display: flex;
    justify-content:center;
    align-items:center;
    
}

.user-name{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:-12px;

    padding:0;
    margin:0;
    height:4em;

    h5{
        margin-bottom: -9px;
        color:black;

    }
    p{
        font-size:14px;
        color:rgb(88, 85, 85)
    }


}
@media (max-width:767px) {
    .side-container{
        display: none;
    }
   
    
}

